---
const props = Astro.props;
---
<a class="text-neo-primary font-bold underline decoration-[3px] underline-offset-4 hover:bg-neo-primary hover:text-white transition-colors" {...props}>
  <slot />
</a>
