---
const props = Astro.props;
---
<li class="pl-4 relative before:content-['■'] before:absolute before:left-[-0.6rem] before:top-[0.4rem] before:text-[0.6rem] before:text-neo-primary" {...props}>
  <slot />
</li>
