---
const props = Astro.props;
---
<div class="neo-border bg-neo-container-highest my-6 relative overflow-hidden neo-shadow group">
  <div class="h-8 border-b-[3px] border-neo-surface bg-neo-bg flex items-center px-4 gap-2">
    <div class="w-3 h-3 rounded-full bg-neo-primary border-2 border-neo-surface"></div>
    <div class="w-3 h-3 rounded-full bg-neo-secondary border-2 border-neo-surface"></div>
    <div class="w-3 h-3 rounded-full bg-neo-tertiary border-2 border-neo-surface"></div>
    <span class="ml-auto font-mono text-xs uppercase font-bold text-neo-surface tracking-tighter">Terminal</span>
  </div>
  <div class="p-4 overflow-x-auto">
    <pre {...props} class="font-mono text-sm leading-relaxed"><slot/></pre>
  </div>
</div>
